<?xml version="1.0" encoding="utf-8"?>
<!-- Directory : [Project]/Assets/Plugins/Android/AndroidManifest.xml -->
<!-- Configure according to your android application information. -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gA.Receptrion"
	android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0">
  <supports-screens
      android:smallScreens="true"
      android:normalScreens="true"
      android:largeScreens="true"
      android:xlargeScreens="true"
      android:anyDensity="true"/>
  
  <!-- REQUIRED permission -->
  <uses-permission android:name="android.permission.SEND_SMS" />
  <!-- Additional -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.STORAGE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.SMS_RECEIVED" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

  <application
  android:theme="@style/UnityThemeSelector"
  android:icon="@drawable/app_icon"
      android:label="@string/app_name"
      android:debuggable="true">
    <activity android:name="com.gA.Receptrion.UnityPlayerActivity"
              android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
    </activity>
  </application>
</manifest>